{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Мое учебное приложение!!!</title>
        <!-- Ссылка на CSS стили и иконку сайта -->
        <script src="/dist/styles.bundle.js"></script>
        <script src="/dist/common.bundle.js"></script>
        <link rel='shortcut icon' href='/dist/_/img/favicon.ico' type='image/x-icon'>
        <link rel="manifest" href="/dist/manifest.webmanifest">
        <!-- Подключаем новый шрифт для сайта от Google Fonts -->
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    </head>
    <body>
        <header>
            <h1><a href='/'>Мое учебное приложение</a></h1>
        </header>
        <nav>
            <a href='/' class="myLink">Главная</a>
            <a href="/news" class="myLink">Новости</a>
            <a href="/music" class="myLink">Музыка</a>
            <a href="/photo" class="myLink">Фотографии</a>
            <a href="/usefulnotes" class="myLink">Заметки</a>
        </nav>
        <main>
            {{template "main" .}}
        </main>
        {{template "footer" .}}
        <!--<script src="/static/js/main.js" type="text/javascript"></script>-->
        <script src="/dist/mainBase.bundle.js" type="text/javascript"></script>
    </body>
</html>
{{end}}