{{template "base" .}}

{{define "title"}}Полезные заметки{{end}}

{{define "main"}}
<ul>
    <ul>
        <strong>Язык программирования Golang</strong>
        <li><a target="_blank" href="https://golangify.com/serving-static-files">обработка статических файлов веб приложения на go</a></li>
        <li><a target="_blank" href="https://golangforall.com/ru/post/templates.html">go шаблонизатор</a></li>
        <li><a target="_blank" href="https://proglib.io/p/rest-api-go">REST API </a>
    </ul>
    <br>
    <ul>
        <strong>Гипертекстовая разметка документов для просмотра веб-страниц в браузер HTML (HyperText Markup Language)</strong>
        <li><a target="_blank" href="https://developer.mozilla.org/ru/docs/Learn/Getting_started_with_the_web/HTML_basics">Основы html</a></li>
    </ul>
    <br>
    <ul>
        <strong>Каскадная таблица стилей CSS (Cascading Style Sheets)</strong>
        <li><a target="_blank" href="https://html5book.ru/osnovy-css/">Основы CSS</a></li>
    </ul>
    <br>
    <ul>
        <strong>Webpack</strong>
        <li><a href="https://skillbox.ru/media/code/osnovy-webpack-samyy-podrobnyy-gayd/">Основы Webpack: самое подробное руководство</a></li>
    </ul>
</ul>
{{end}}