{{template "base" .}}

{{define "title"}}Полезные заметки{{end}}

{{define "main"}}
<ul>
    <ul>
        <strong>Язык программирования Golang</strong>
        <li><a target="_blank" href="https://golangify.com/serving-static-files">обработка статических файлов веб приложения на go</a></li>
        <li><a target="_blank" href="https://golangforall.com/ru/post/templates.html">go шаблонизатор</a></li>
        <li><a target="_blank" href="https://proglib.io/p/rest-api-go">REST API </a>
        <li><a target="_blank" href="https://habr.com/ru/companies/ruvds/articles/561108/">Разработка REST-серверов на Go. Часть 2. Всего 6 частей (есть ссылки на другие части)</a></li>    
    </ul>
    <br>
    <ul>
        <strong>Гипертекстовая разметка документов для просмотра веб-страниц в браузер HTML (HyperText Markup Language)</strong>
        <li><a target="_blank" href="https://developer.mozilla.org/ru/docs/Learn/Getting_started_with_the_web/HTML_basics">Основы html</a></li>
    </ul>
    <br>
    <ul>
        <strong>Каскадная таблица стилей CSS (Cascading Style Sheets)</strong>
        <li><a target="_blank" href="https://html5book.ru/osnovy-css/">Основы CSS</a></li>
    </ul>
    <br>
    <ul>
        <strong>Язык JavaScript.</strong>
        <li><a target="_blank" href="https://learn.javascript.ru/">Учебник по языку JavaScript</a></li>
    </ul>
    <br>
    <ul>
        <strong>Webpack</strong>
        <li><a target="_blank" href="https://skillbox.ru/media/code/osnovy-webpack-samyy-podrobnyy-gayd/">Основы Webpack: самое подробное руководство</a></li>
        <li><a target="_blank" href="https://habr.com/ru/articles/701724/">Настройка Webpack 5. Пошаговое руководство</a></li>
    </ul>
    <ul>
        <strong>ESLine</strong>
        <li><a target="_blank" href="https://www.8host.com/blog/formatirovanie-koda-v-visual-studio-code-s-pomoshhyu-eslint/">Настройка ESLine для VSCode</a></li>
    </ul>
</ul>
{{end}}